:root {
  --background-color: #f8f9fa; /* A light, neutral background */
  --text-color: #343a40; /* Bootstrap's default dark shade */
  --link-color: #007bff; /* Bootstrap's default link color */
  --hover-link-color: #0056b3; /* Darker shade for link hover */
  --card-background: #ffffff; /* Pure white for cards */
  --card-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* Bootstrap's card shadow */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Nunito', sans-serif; /* A more modern, rounded font */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content on the page */
}

/* Styles for wrapping text around the image */
.logo {
  float: right; /* Allow text to wrap around the image */
  width: 10em; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 1rem 0 1rem 2rem; /* Add space around the image */
  border-radius: 50%; /* Circular image */
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); /* Soft shadow */
}

/* Adjustments for card to make it centered and elegant */
.card {
  padding: 1.5rem;
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  border-radius: .25rem;
  margin: 2rem; /* Adjust margin for more space */
  text-align: left;
  width: 80%; /* Adjust width for more centered text */
  max-width: 800px; /* Maximum width to prevent overly wide text blocks */
}

.read-the-docs, a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-link-color);
  text-decoration: underline;
}

ul, li {
  list-style-type: none;
  margin: 0.5rem 0;
}

h1, p {
  margin-bottom: 0.5rem;
}

/* Responsive adjustments for better centering and layout */
@media (min-width: 768px) {
  .card, .read-the-docs {
    width: 60%; /* Narrower content for desktop */
  }

  .logo {
    width: 12em; /* Larger image for larger screens */
  }

  body {
    padding: 20px;
  }
}
